body {
    background-color: #f2f2f2;
}

.el-header {
    background-color: #FFFFFF;
    color: #333;
    line-height: 60px;
}

.el-aside {
    color: #333;
}

.el-main {
    padding: 5px;
    margin: 10px;
}

.el-form {
    background-color: #ffffff;
    padding: 5px;
    margin: 10px 0;
}

.el-submenu [class^=el-icon-] {
    color: rgba(255, 255, 255, .8) !important;
}

.el-card__header {
    padding: 8px 20px;
    font-size: 14px;
}

.el-card__body {
    padding: 8px 20px;
}

.el-card {
    margin-bottom: 10px;
}

.el-range-input {
    cursor: pointer;
}