<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="">
<head th:replace="common/fragments::commonHead">
    <title>质保书系统</title>
</head>
<body>
<div id="app">
    <el-container style="height: 100%; border: 1px solid #eee">
        <div th:replace="common/fragments::tgMenu"></div>
        <el-container>
            <el-header style="text-align: right; font-size: 12px">
                <el-row>
                    <el-col :span="12">
                        <div style="text-align: left;font-size: 20px;color: #666666;font-weight: bold">欢迎使用本系统</div>
                    </el-col>
                    <el-col :span="12">
                        <el-dropdown>
                            <i class="el-icon-warning-outline" style="margin-right: 15px;font-size: 18px"></i>
                            <el-dropdown-menu slot="dropdown">
                                <el-dropdown-item>用友网络科技有限公司</el-dropdown-item>
                            </el-dropdown-menu>
                        </el-dropdown>
                    </el-col>
                </el-row>
            </el-header>
            <el-main>
                <el-card class="box-card">
                    <div slot="header" class="clearfix">
                        <span>卡片名称</span>
                    </div>
                    <el-form :inline="true" :model="formInline" class="demo-form-inline" size="mini">
                        <el-form-item label="审批人">
                            <el-input v-model="formInline.user" placeholder="审批人"></el-input>
                        </el-form-item>
                        <el-form-item label="审批人">
                            <el-input v-model="formInline.user" placeholder="审批人"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <i class="el-icon-search" style="cursor: pointer;" @click="mySearch"></i>
                        </el-form-item>
                        <el-form-item label="活动区域">
                            <el-select v-model="formInline.region" placeholder="活动区域">
                                <el-option label="区域一" value="shanghai"></el-option>
                                <el-option label="区域二" value="beijing"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="onSubmit">查询</el-button>
                        </el-form-item>
                    </el-form>
                </el-card>

                <el-table :data="tableData">
                    <el-table-column prop="date" label="日期" width="140">
                    </el-table-column>
                    <el-table-column prop="name" label="姓名" width="120">
                    </el-table-column>
                    <el-table-column prop="address" label="地址">
                    </el-table-column>
                </el-table>

                <el-dialog title="选择批次" :visible.sync="dialogTableVisible"
                           width="70%"
                           :close-on-click-modal="false">
                    <el-form :inline="true" :model="formInline" class="demo-form-inline" size="mini">
                        <el-form-item label="审批人">
                            <el-input v-model="formInline.user" placeholder="审批人"></el-input>
                        </el-form-item>
                        <el-form-item label="活动区域">
                            <el-select v-model="formInline.region" :clearable="true" placeholder="活动区域1">
                                <el-option label="区域一" value="shanghai"></el-option>
                                <el-option label="区域二" value="beijing"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="onSubmit">查询</el-button>
                        </el-form-item>
                    </el-form>
                    <el-table :data="page1.gridData" stripe size="mini" height="250" v-loading="loading">
                        <el-table-column property="date" label="日期" width="150"></el-table-column>
                        <el-table-column property="name" label="姓名" width="200"></el-table-column>
                        <el-table-column property="address" label="地址"></el-table-column>
                        <el-table-column
                                label="操作"
                                width="80">
                            <template slot-scope="scope">
                                <el-button @click="handleClick(scope.row)" type="text" size="small">选择</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <el-pagination
                            @current-change="handleCurrentChange"
                            :current-page="page1.currentPage"
                            :page-size="10"
                            layout="total, prev, pager, next, jumper"
                            :total="page1.total">
                    </el-pagination>
                </el-dialog>
            </el-main>
        </el-container>
    </el-container>

</div>
</body>
<script>
    new Vue({
        el: '#app',
        data() {
            const item = {
                date: '2016-05-02',
                name: '王小虎',
                address: '上海市普陀区金沙江路 1518 弄'
            };
            return {
                formInline: {
                    user: '',
                    region: ''
                },
                tableData: Array(20).fill(item),

                dialogTableVisible: false,
                page1: {
                    total: 0,
                    currentPage: 1,
                    gridData: [],
                },
                loading: true
            }
        },
        methods: {
            handleOpen(key, keyPath) {
                console.log(key, keyPath);
            },
            handleClose(key, keyPath) {
                console.log(key, keyPath);
            },
            onSubmit() {
                console.log('submit!');
            },
            mySearch() {
                this.loading = true;
                this.dialogTableVisible = true;
                getGridData(1, 10).then((resp) => {
                    this.page1 = resp;
                }).finally(() => {
                    this.loading = false;
                });
            },
            handleCurrentChange(currentPage) {
                this.loading = true;
                getGridData(currentPage, 10).then((resp) => {
                    this.page1 = resp;
                }).finally(() => {
                    this.loading = false;
                });
            },
            handleClick(row) {
                console.log(row);
                this.dialogTableVisible = false;
            },
            gotoPage(index) {
                windowLocationChange(index);
            }
        }
    });

    function getGridData(currentPage, pageSize) {
        return new Promise((resolve, reject) => {
            let num = (currentPage * pageSize) > 112 ? (112 - (currentPage - 1) * pageSize) : pageSize;
            setTimeout(() => {
                resolve({
                    total: 112,
                    gridData: new Array(num).fill({
                        date: '2016-05-02',
                        name: '王小虎' + currentPage,
                        address: '上海市普陀区金沙江路 1518 弄'
                    })
                });
            }, 1500);
        });
    }

    function windowLocationChange(index) {
        window.location.href = 'https://baidu.com';
    }
</script>
</html>